<div class="divclass">
<div id="formDiv">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <mat-card><h3>LOGIN</h3>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
    <div></div>
  <p>
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="profileForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Enter your password" formControlName="password" type="password" required>
      <mat-error *ngIf="profileForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary"  >Log In</button><br/>
  New User <a routerLink="/signup">Register Now</a>
</mat-card>
  
</form>
</div>
</div>