/* .booking{
    float: right;
    
} */
/* .booking{
    color:rgb(173, 207, 230);
    /* background-color: lightcyan; */
    /* font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-left: 70%;
} */ 
button{
   float: right;
   /* margin-left: 40%; */
}