.hotel{
    padding:10px
}
.viewbutton{
    background-color:blue;
}
.book{
    background-color:burlywood
}
.rating{
    font-size:12px;color:black;padding: 4px 2%;text-align: center

}
.btn{
    margin-top: 20px
}
